*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.calculator {
    /* position: absolute;
    top: 20%;
    left: 40%; */
    background-color: black;
    height: 430px;
    width: 325px;
    margin: 160px auto;
    /* padding: 10px;     */
}
button{
    padding: 15px 30px;
    margin: 0px 3px;
    border: 1px solid white;
    cursor: pointer;
}
.div_margin {
    margin-bottom: 15px;
}
.mini_btn{
    padding: 15px 32px;
}
input {
    background-color: white;
    color: black !important;
    font-weight: 600;
    font-size: 20px;
    height: 33px;
    width: 310px;
    border-radius: 5px;
    padding: 10px 0;
}

#equalz{
    padding: 15px 71px;
}
.clr_div{
    padding: 15px 34px;
}

h1 {
    /* text-align: center; */
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding-right: 5px;
}