*{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.calculator {
    /* position: absolute;
    top: 20%;
    left: 40%; */
    background-color: rgb(255, 255, 255);
    height: 430px;
    width: 325px;
    margin: 160px auto;
    /* padding: 10px;     */
}
button{
    padding: 15px 30px;
    margin: 0px 3px;
    border: 0px solid rgb(0, 0, 0);
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

button:active{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 10px 0px, rgba(14, 30, 37, 0.32) 0px 4px 22px 0px;
}

.div_margin {
    margin-bottom: 15px;
}
.mini_btn{
    padding: 15px 32px;
}
input {
    background-color: white;
    color: black !important;
    font-weight: 400;
    /* padding: 0px 5px; */
    font-size: 15px;
    height: 28px;
    width: 265px;
    border-radius: 5px;
    padding: 10px 0;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

textarea:focus, input:focus{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 10px 0px, rgba(14, 30, 37, 0.32) 0px 4px 22px 0px;
    outline: none;

}



input[type=text] {
    padding: 12px 20px;
}

#equalz{
    padding: 15px 71px;
}
.clr_div{
    padding: 15px 34px;
}

h1 {
    /* text-align: center; */
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-right: 21px;
    margin-bottom: 34px;
    text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),
	
	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}

.specialBtns{
    border-radius: 20px;
}
