*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    width: 50%;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10% 0;
}
